.goalForm p {
  color: var(--accent-color);
  font-size: var(--font-size-md);
}

.goalForm input,
.goalForm textarea {
  border: 0.1rem solid var(--border-color);
  border-radius: var(--radius-sm);
  padding: var(--spacing-xs);
  height: var(--spacing-lg);
  color: var(--primary-text);
}
.goalForm label {
  font-size: var(--font-size-sm);
}

.goalForm input:focus,
.goalForm textarea:focus {
  border: 0.16rem solid var(--border-color);
}

.goalText {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-md-lg);
}
.goalText input {
  width: 100%;
}

.goalText p {
  color: var(--highlight-color);
}

/* goalTime */

.goalForm > label:first-of-type {
  display: flex;
}
.radioSection {
  display: flex;
  margin-top: var(--spacing-md-lg);
}
.radio {
  display: flex;
  margin-left: var(--spacing-lg);
  align-items: center;
}
.goalTime {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-md-lg);
}
.goalTime input {
  margin-left: var(--spacing-lg);
}

.disabled {
  color: var(--border-color);
}
.disabled input {
  color: var(--border-color);
}

.radio input {
  width: 1px;
  height: 1px;
  margin-left: -7px;
}

.checked {
  border: 0.1rem solid var(--border-color);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: var(--radius-full);
  margin: 0 var(--spacing-sm);
  position: relative;
  cursor: pointer;
}

.radio input:checked + .checked::before {
  position: absolute;
  content: "●";
  font-size: 0.8m;
  color: var(--border-color);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* goalDetail */
.goalDetail {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-md-lg);
}

.goalDetail textarea {
  height: 6rem;
}

.goalDetail textarea::placeholder {
  color: var(--border-color);
  font-size: var(--font-size-sm);
}

.labelSection {
  margin-top: var(--spacing-md-lg);
}

/* btn */
.btnSection {
  margin-top: var(--spacing-md-lg);
  text-align: end;
}

.submitBtn,
.closeBtn {
  background-color: var(--accent-color);
  width: 15%;
  height: 12%;
  padding: var(--spacing-xs);
  text-align: center;
  color: #fff;
  border-radius: var(--radius-md);
  font-size: var(--font-size-sm);
}
.editBtn,
.cancleBtn {
  color: var(--accent-color);
  font-size: var(--font-size-sm);
}
.submitBtn:hover,
.closeBtn:hover {
  background-color: var(--accent-hover-dark);
}
.submitBtn:active,
.closeBtn:active {
  background-color: var(--accent-hover-dark);

  transform: scale(0.9);
}
.editBtn:hover,
.cancleBtn:hover {
  color: var(--accent-hover-dark);
}

.editBtn:active,
.cancleBtn:active {
  color: var(--accent-hover-dark);
  transform: scale(0.9);
}

.editBtn,
.submitBtn {
  margin-right: var(--spacing-sm);
}

/* tag */
.selectedTags {
  margin-top: var(--spacing-md-lg);
}
.labelBtnSection {
  display: flex;
  flex-direction: column;
}
.editTag {
  margin-right: var(--spacing-sm-md);
  font-size: var(--font-size-sm);
  color: var(--secondary-text);
  text-align: end;
}

.editTag:hover {
  color: var(--secondary-text-dark);
}
.editTag:active {
  color: var(--secondary-text-dark);
}

.labelOptions {
  display: flex;
  height: 5rem;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.tagInput {
  /* margin-top: var(--spacing-sm); */
  display: flex;
  flex-direction: row;
  height: 5rem;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.tagBtn {
  display: flex;
  background-color: rgb(236, 236, 236);
  height: 1rem;
  align-items: center;
  margin: var(--spacing-xs);
  border-radius: var(--radius-md);
  padding: var(--spacing-xs);
  font-size: var(--font-size-sm);
}

.tagBtn:hover {
  background-color: rgb(230, 229, 229);
}
.tagBtn:active {
  transform: scale(0.9);
}

.tag {
  display: flex;
  background-color: rgb(236, 236, 236);
  height: 1.6rem;
  align-items: center;
  margin: var(--spacing-xs);
  border-radius: var(--radius-md);
  padding: var(--spacing-xs);
  font-size: var(--font-size-sm);
}

.tag span {
  margin-right: var(--spacing-xs);
}

.tag button {
  font-size: 0.6rem;
}

.tag button:hover {
  transform: scale(1.2);
}
.tag button:active {
  transform: scale(0.9);
}
.line {
  margin: var(--spacing-xs) 0;
  border: 0.05rem dashed var(--border-color);
}
