.allGoals {
  width: 100%;
}

.line + p {
  margin-left: 5%;
  margin-top: 4%;
  color: var(--accent-color);
}

.line {
  height: 1px;
  width: 90%;
  background-color: var(--border-color);
  display: flex;
  margin: 0 var(--spacing-sm);
  justify-self: center;
}
.goalLists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
}

.goal {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  margin: var(--spacing-sm);
  padding: var(--spacing-sm);
  height: 2.5rem;
  border-radius: var(--radius-md);
  box-shadow: 0.5rem 0.5rem 0.8rem var(--shadow-color);
  align-items: center;
}

.goalContent {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 0;
}
.goalBtn {
  display: flex;
  justify-content: end;
  width: 20%;
}

.goalBtn button {
  font-size: var(--font-size-sm);
  color: var(--secondary-text);
  margin-right: var(--spacing-sm);
}
.goalBtn button:hover {
  color: var(--highlight-color);
}

.goalContent p {
  font-size: var(--font-size-sm);
}

.goalTagList {
  width: 40%;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  padding-left: var(--spacing-sm);
}
.goalTagNone {
  display: none;
}

.goalContent > div:first-of-type {
  width: 60%;
  display: flex;
  min-width: 0;
  align-items: center;
}

.goalContent > div:first-of-type > div:first-of-type {
  display: flex;
  align-items: center;
  width: 25%;
}

.goalContent > div:first-of-type > div:nth-of-type(2) {
  display: flex;
  width: 75%;
}
.goalContent > div:first-of-type > div:nth-of-type(3) {
  display: none;
}

.goalText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: var(--spacing-sm);

  /* flex: 1 1 0; 允許彈性成長與收縮 */
  min-width: 0; /* 防止內容溢出 */
}

.goalContent input {
  display: none;
}

.checkbox {
  display: inline-block;
  width: var(--font-size-sm);
  height: var(--font-size-sm);
  border: 0.1rem solid var(--secondary-background-color);
  border-radius: var(--radius-sm);
  cursor: pointer;
  position: relative;
  margin: 0 var(--spacing-sm);
}

.goalContent input:checked + div::before {
  position: absolute;
  content: "✔";

  font-size: var(--font-size-md);
  color: var(--secondary-text);
  width: 100%;
  height: 100%;
  background-color: #ece8e4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noTask {
  color: var(--secondary-text);
  margin-left: 5%;
  margin-top: 5%;
  font-weight: var(--font-weight-light);
  margin-top: 4%;
}

@media (max-width: 576px) and (min-width: 450px) {
  .line + p {
    color: var(--highlight-color);
  }

  .goalContent {
    width: 80%;
  }
  .goalContent > div:first-of-type {
    width: 60%;
  }

  .goalContent > div:first-of-type > div:first-of-type {
    width: 15%;
  }
  .goalContent > div:first-of-type > div:nth-of-type(2) {
    width: 80%;
  }
  .goalText {
    /* width: 65%; */
  }
  .goalTagList {
    width: 40%;
  }
  .goalBtn {
    width: 20%;
  }
}

@media (max-width: 450px), (max-width: 1000px) and (min-width: 769px) {
  .goal {
    height: 3.5rem;
  }
  .goalContent {
    flex-direction: column;
    width: 72%;
  }
  .goalContent > div:first-of-type {
    width: 100%;
  }

  .goalContent > div:first-of-type > div:first-of-type {
    width: 15%;
  }

  .goalContent > div:first-of-type > div:nth-of-type(2) {
    display: none;
  }
  .goalContent > div:first-of-type > div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .goalContent > div:first-of-type > div:nth-of-type(3) > div:first-of-type {
    display: flex;
    width: 100%;
  }

  .goalContent > div:first-of-type > div:nth-of-type(3) > div:first-of-type p {
    margin-right: var(--spacing-sm);
  }

  .goalContent > div:nth-of-type(2) {
    display: none;
  }
  .goalText {
    width: auto;
    margin-left: 0;
  }
  .goalTagList {
    width: 100%;
    padding-left: 0;
  }
  .goalBtn {
    width: 28%;
  }
  .goalTag {
    margin-top: 0.5rem;
  }
}
@media (max-width: 450px) {
  .line + p {
    color: var(--highlight-color);
  }
}
