.yearSelector,
.monthSelector {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10%;
  text-align: center;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.yearSelector button,
.monthSelector button {
  width: var(--spacing-lg-lg);
  height: var(--spacing-lg-lg);
  margin: var(--spacing-xs);
  padding: var(--spacing-sm);
  border-radius: var(--radius-full);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--font-size-sm);
}

.yearSelector button:active,
.monthSelector button:active {
  transform: scale(0.9);
}

.yearSelector button:hover,
.monthSelector button:hover {
  background-color: var(--secondary-background-color);
}
.currentYear {
  background-color: var(--highlight-color);
}
.currentMonth {
  background-color: var(--highlight-color);
}

@media (max-width: 1199.98px) and (min-width: 769px) {
  .yearSelector button,
  .monthSelector button {
    margin: 0;
  }
}
