@media (max-width: 576px) {
  .btnSection {
    margin-top: var(--spacing-md-lg);
  }

  .hambugerIcon {
    position: fixed;
    left: 5%;
    z-index: 3;
  }

  .hambugerIcon img {
    width: 1.6rem;
  }

  .calendarIcon {
    position: fixed;
    right: 5%;
    z-index: 3;
  }
  .calendarIcon img {
    width: 1.7rem;
  }
}
