.container {
  display: flex;
  width: 85%;
}
@media (max-width: 1199.98px) and (min-width: 769px) {
  .mainContent {
    flex: 1;
  }
}

@media (max-width: 576px), (max-width: 768px) {
  .container {
    width: 100%;
  }
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(235 235 235 / 41%);
    display: flex;
    z-index: 1000;
    justify-content: end;
  }
  .modalOverlay.rightPanelNone {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .container {
    width: 75%;
  }
}
