.homeContent {
  width: 85%;

  overflow-y: auto;
  height: 100vh;
}
.homeBar {
  background-color: #faf1e0;
  height: 10%;
  display: flex;
  justify-content: center;
}
.homeBar img {
  height: 100%;
}
.homeContent .homeImg {
  position: relative;
  width: 100%;
}

.homeImg button {
  position: absolute;
  z-index: 5;
  top: 53%;
  left: 30%;
  font-size: var(--font-size-md-lg);
  border-radius: var(--radius-xl);
  padding: var(--spacing-sm-md);
  color: #faf1e0;
  background-color: var(--primary-color);
}

.homeImg button:hover {
  transform: scale(1.1);
}

.homeImg button:active {
  transform: scale(0.9);
  /* color: #fff; */
  /* background-color: var(--highlight-color); */
}
@media (max-width: 768px) and (min-width: 577px) {
  .homeContent {
    width: 75%;
  }
}
@media (max-width: 576px) and (min-width: 400px), (max-width: 400px) {
  .homeContent {
    width: 100%;
  }
}
