.homeContent {
  width: 100%;

  overflow-y: auto;
  height: 100vh;
}
.homeBar {
  background-color: var(--primary-color);
  height: 10%;
  display: flex;
  align-items: center;
}
.homeBar img {
  height: 100%;
}
.homeBar p {
  font-family: "Titan One", sans-serif;
  font-size: 2.5rem;
  color: var(--background-color);
  padding-left: var(--spacing-lg);
}
.homeContent .homeImg {
  width: 100%;
}
.startBtn {
  width: 100vw;
  height: 5rem;
  background-color: #c8b08f;
  display: flex;
  justify-content: center;
}
.startBtn button {
  font-size: var(--font-size-md-lg);
  border-radius: var(--radius-xl);
  padding: var(--spacing-sm-md);
  width: fit-content;
  color: #faf1e0;
  background-color: var(--primary-color);
  margin-top: var(--spacing-md);
}

.startBtn button:hover {
  transform: scale(1.1);
}

.startBtn button:active {
  transform: scale(0.9);
  /* color: #fff; */
  /* background-color: var(--highlight-color); */
}
@media (max-width: 900px) and (min-width: 769px) {
  .startBtn button {
    font-size: var(--font-size-md);
    padding: var(--spacing-sm) var(--spacing-sm-md);
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  /* .homeContent {
    width: 75%;
  } */
  .startBtn button {
    font-size: var(--font-size-sm);
    padding: var(--spacing-sm) var(--spacing-sm-md);
    left: 27%;
  }
}
@media (max-width: 576px) and (min-width: 400px), (max-width: 400px) {
  /* .homeContent {
    width: 100%;
  } */
  .startBtn button {
    font-size: var(--font-size-sm);
    padding: var(--spacing-sm) var(--spacing-sm-md);
  }
}
