.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  background-color: rgb(235 235 235 / 41%);
}

.modalContent {
  /* position: fixed;
  z-index: 3;
  top: 0;
  left: 74.6%;
  height: 100vh;
  display: flex; */
  overflow-y: auto;
  background: var(--background-color);
  padding: var(--spacing-lg);
  position: relative;
  width: 26%;
  box-shadow: -0.5rem 0rem 1rem var(--secondary-background-color);
}

.closeButton {
  position: absolute;
  top: 2%;
  right: 6%;
  background: none;
  border: none;
  font-size: var(--font-size-lg);
  z-index: 20;
  cursor: pointer;
}

.closeButton:active {
  transform: scale(1.2);
}

.closeButton:hover {
  transform: scale(1.2);
}
@media (max-width: 576px) {
  .modalContent {
    width: 100%;
  }
}
