.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: var(--spacing-lg-lg);
  border-radius: var(--radius-md);
  position: relative;
  width: 42rem;
  /* height: 34rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: var(--font-size-lg);
  cursor: pointer;
}
