.hambugerIcon {
  display: none;
}

.mainContent {
  width: 70%;
  background-color: var(--background-color);

  padding: var(--spacing-md-lg);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* height: 100vh; */
}

.mainContent h1 {
  width: 90%;
  font-size: var(--font-size-lg);
  color: var(--primary-text);
  font-weight: var(--font-weight-light);
}

.mainContent h2 {
  font-size: var(--font-size-md);
  color: var(--primary-text);
  font-weight: var(--font-weight-light);
}

.mainContent img {
  width: var(--font-size-lg);
}
.goOneDay {
  padding: var(--spacing-xs);
}
.goOneDay:hover {
  background-color: var(--accent-hover);
  border-radius: var(--radius-full);
}
.goOneDay:active {
  background-color: var(--accent-hover);
  border-radius: var(--radius-full);
}

.date {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
}

.addGoalBtn {
  padding: var(--spacing-sm);
  background-color: var(--accent-color);
  border-radius: var(--radius-full);
  position: absolute;
  /* top: -10%; */
  bottom: 10%;
  right: 10%;
  z-index: 1;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.4rem 0.4rem 0.4rem var(--shadow-color);
  transition: transform 0.3s ease;
}

.addGoalBtn img {
  width: 1.5rem;
  height: 1.5rem;
}
.addGoalBtn:hover {
  background-color: var(--accent-hover);
  border-radius: var(--radius-full);
  transform: scale(1.2);
}

.addGoalBtn:active {
  background-color: var(--accent-hover);
  border-radius: var(--radius-full);
  transform: scale(1.2);
}

.goalItem {
  width: 100%;
  overflow-y: auto;
}
@media (max-width: 768px) and (min-width: 577px) {
  .mainContent {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .mainContent {
    position: relative;
    padding: var(--spacing-md-lg) 0;
  }

  .mainContent {
    width: 100%;
  }
  .mainContent h1 {
    text-align: center;
  }

  .mainContent h2 {
    order: 2;
  }

  .date > button:first-of-type {
    order: 1;
  }
  .date > button:nth-of-type(2) {
    order: 3;
  }

  .date {
    justify-content: center;
  }

  .addGoalBtn {
    right: 8.2%;
    bottom: 9%;
    width: 3rem;
    height: 3rem;
  }

  .addGoalBtn img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
