/* 右側欄 */
.rightSidebar {
  width: 30%;
  background-color: var(--background-color);
  /* background-color: #f2f2f2; */
  padding: var(--spacing-md-lg);
  overflow: hidden;
  box-shadow: -0.5rem 0rem 1rem var(--secondary-background-color);
  overflow-y: auto;
}

.rightSidebar > p {
  color: var(--accent-color);
  margin-top: var(--spacing-md);
  padding: var(--spacing-xs) 0;
}
.rightSidebar > p:nth-of-type(n + 2) {
  font-size: var(--font-size-sm);
}

.rightSidebar > p:first-of-type {
  font-size: var(--font-size-md);
  padding: var(--spacing-xs) 0;
  margin-top: var(--spacing-md);
}

.rightSidebar > button {
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  cursor: pointer;
  border-radius: var(--radius-md);
  background-color: var(--accent-color);
  color: #ffffff;
  margin-top: var(--spacing-md);
  font-size: var(--font-size-sm);
}

.rightSidebar > button:hover {
  background-color: var(--accent-hover);
}

.rightSidebar > button:active {
  background-color: var(--accent-hover);
}

.calendar {
  height: 15rem;
}

.completionNum {
  margin-top: var(--spacing-md);
}
.completionNum label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.completionNum span {
  font-size: 6rem;
  font-weight: var(--font-weight-bold);
  color: var(--highlight-color);
}

@media (max-width: 576px) {
  .leftSidebar {
    position: fixed;
    z-index: 5;
    width: 10rem;
  }
  .rightSidebar {
    width: 16rem;
  }
}
