/* 左側欄 */
.leftSidebar {
  width: 20%;
  background-color: #b0d6d0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagSection {
  display: flex;
  flex-direction: column;
}

.tagSection li {
  list-style-type: none;
}
