@import "../../Style/Global.css";

/* 左側欄 */
.leftSidebar {
  width: 15%;
  background-color: var(--primary-color);
  padding: var(--spacing-md) var(--spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* height: 100vh;
   */
  height: calc(var(--vh) * 100);
}
.leftSidebar a {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  color: var(--background-color);
  transition: transform 0.2s ease;
}
.leftSidebar img {
  width: var(--font-size-md);
  margin-right: var(--spacing-md);
}

.leftSidebar a {
  height: 6%;
  margin: var(--spacing-xs);
}

.active {
  background-color: var(--highlight-color);
}

.logOut {
  position: absolute;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  color: var(--background-color);
  font-size: var(--font-size-sm);
  border-radius: 0;
}
.logOut:hover {
  background-color: #82766352;
}
.logOut:active {
  background-color: #82766352;
}
@media (max-width: 1199.98px) and (min-width: 769px) {
  .leftSidebar {
    width: clamp(154px, 20vw, 184px);
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .leftSidebar {
    width: 25%;
  }
}
@media (max-width: 576px) {
  .leftSidebar {
    position: fixed;
    z-index: 5;
    width: 10rem;
  }
}
