.addTag input {
  border: 0.09rem solid var(--border-color);
  border-radius: var(--radius-sm);
  padding: 0 var(--spacing-xs);
  height: 1.8rem;
  color: var(--primary-text);
  font-size: var(--font-size-sm);
  margin: 0 var(--spacing-xs);
}

.addTag input::placeholder {
  color: var(--border-color);
}
.addTag {
  margin-top: var(--spacing-md);
  display: flex;
  position: relative;
  flex-direction: column;
}

.addTag button {
  background-color: #ebeae8;
  padding: 0.3rem 0.8rem;
  color: var(--accent-color);
  font-size: var(--font-size-sm);
  width: fit-content;
}

.addTag button:active {
  color: var(--accent-hover);
}

.picker {
  position: absolute;
  z-index: 1;
  top: 2rem;
}

.prompt {
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-sm);
  /* color: var(--accent-color); */
}

.addTag > div:first-of-type {
  display: flex;
}
.addTag p {
  color: var(--highlight-color);
  font-size: var(--font-size-sm);
}

@media (max-width: 460px) {
  .addTag > div:first-of-type {
    flex-direction: column;
  }
}
